// HELPERS
@import './helpers/variables';
@import './helpers/mixins';

// BASE
@import './base/reset';

// COMPONENTS
@import './components/header';
@import './components/menuJobList';
@import './components/carousel';
@import './components/footer';
@import './components/sellingProposition';
@import './components/testimonial';
@import './components/mainCategory';
@import './components/category';

// LAYOUTS
@import './layouts/home';
@import './layouts/register';
@import './layouts/login';

// LIBRARY
@import 'node_modules/react-modal-video/scss/modal-video.scss';