.carousel_wrapper {
    .carousel {
        position: relative !important;
    }

    .carousel_form {
        position: absolute !important;
        width: 50%;
        top: 40%;
        padding-left: 10%;

        p {
            font-size: 3em;
            color: $white-2;
        }

        form {
            .search-input-carousel {
                border: 1px solid #c5c6c9;
                border-radius: 4px 0 0 4px;
                border-right-style: none;
                outline: none;
                padding: 10px 2px 10px 16px;
            }

            .search-button-carousel {
                border-radius: 0 4px 4px 0;
                background-color: $fiverr-2 !important;
                border: 1px solid $fiverr-2;
            }

        }
    }
}