.home {
    .trusted-by {
        background-color: #fafafa;
        max-width: 100%;
        position: relative;

        .align-items-center {
            align-items: center !important;

            .trusted-by-text {
                color: #b5b6ba;
                display: block;
                font-weight: 600;
                padding-right: 20px;
            }

            .trusted-by-logo {
                list-style-type: none;

                .li {
                    margin: 10px;
                    max-width: 15%;

                    .height-3 {
                            height: 70px;
                        }
                }
            }
        }

    }
}

.subcategory-carousel{
    .slider-package{
        .mt-4{
            .slider-wrapper{
                width: 100%;
                .slider-item{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}