.login {
    .login_form_wrapper {
        padding-left: 25%;
        margin-top: 100px;

        .login_form {
            width: 600px;
            border: 1px solid rgba(0, 0, 0, .05);
            border-radius: 20px;
            box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 5%);
            padding-top: 50px;
            padding-bottom: 100px;
            padding-left: 50px;
            padding-right: 50px;

            .password_input {
                position: relative;

                .password_hide {
                    position: absolute;
                    top: 40px;
                    right: 10px;
                }
            }

            .login_button {
                float: right;
                width: 150px;
                margin-top: 20px;
                background-color: $fiverr-2;
                color: $white-1;
                font-weight: $fw-3;
            }
        }
    }
}